<p><strong>Question:</strong> {{question.description}}</p>
<p><strong>Notes:</strong>{{question.notes}}</p>

<h2>Comments</h2>
<ul>
  {{#each question.comments as |comment|}}
    {{comment-tile comment=comment destroyComment="destroyComment"}}
  {{/each}}
</ul>

<button class="btn btn-danger" {{action 'delete' question}}>Delete Question</button>
