<div class= "container">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">{{#link-to 'index'}}Home{{/link-to}}</li>
    <li role="presentation" class="active">{{#link-to 'about'}}About{{/link-to}}</li>
  </ul>
    {{outlet}}
  <footer>
  </footer>
</div>
