<div class= "container">
  <header class= "jumbotron">
    <h1>Question Board</h1>
    <hr>
    {{#link-to 'index'}}Home{{/link-to}}|
    {{#link-to 'about'}}About{{/link-to}}
    <hr>
  </header>
    {{outlet}}
  <hr>
  <footer>
  </footer>
</div>
