<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

<ul>
  {{#each model.comments as |comment|}}
    <li>{{comment.content}} - by {{comment.author}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
