<h2>Here is {{model.author}}'s question</h2>

{{question-detail question=model destroyQuestion="destroyQuestion" destroyComment="destroyComment"}}

{{update-question question=model update="update"}}

{{new-comment saveComment="saveComment" question=model}}
